.stacks{
    margin-top: 20px;
}

.stacks h3{
    font-size: 18px;
    margin-top: 10px;
}

.stacks ul{
    list-style: none;

    display: flex;
    gap: 10px;
}

.stacks ul li {
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px 20;
    margin-top: 10px;
}

.html{
    background-color: plum;
    color: black;
    font-weight: 600;
}

.css{
    background-color: rgba(214, 59, 90, 0.863);
    color: black;
    font-weight: 600;
}

.win{
    background-color: rgb(170, 105, 231);
    color: black;
    font-weight: 600;
}

.code{
    background-color: rgb(245, 172, 186);
    color: black;
    font-weight: 600;
}